.grid-banner {
    /* background: linear-gradient( rgb(221, 221, 253), rgb(221, 221, 253) ), url("assets/images/code_blue.jfif") no-repeat; */
    background-color: #f8f9fa;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 40vh;
    border-radius: 4px;
}
.train-banner {
    background: linear-gradient( rgba(190, 179, 17, 0.2), rgba(40, 132, 194, 0.2) ), url("assets/images/train.jfif") no-repeat;
    padding-bottom: 20px;
    background-size: 100% 100%;
    min-height: 40vh;
    border-radius: 4px;
}

h2 {
    font-size: 50px !important;
}

.max-vh {
    height: 100vh;
}

.montserrat {
    font-family: 'montserrat';
}

.roboto {
    font-family: 'roboto';
}

.card-silver-bg {
    background-color: #F8F8F8 !important;
}

.img {
    border-color: coral !important;
    border-width: 3px !important;
    border-style: solid !important;
}

a {
    color: coral !important;
}

.coral-text {
    color: coral !important;
}

.hr-coral {
    background-color: coral !important;
}

